{% extends 'base_mail.html' %}
{% block content %}

<p>Congratulations…</p>
<p>We have received your membership application…</p>
<p>We are privileged to have you as part of our organisation…</p>
<p>We work together towards a bright future…</p>
<p>
    Kindly save our contact number +91 91373 86752 in your phone to receive all important updates in your
    WhatsApp regularly…
</p>
<p>
    Students & Parents can join our following Telegram channels and get important updates about JEE, NEET &
    other competitive exams, scholarships, study abroad opportunities and everything else related to their
    education and future career:
</p>
<ul>
    <li>For 12th Science Students : <a
            href="https://t.me/npuspta12thScienceStudents">https://t.me/npuspta12thScienceStudents</a></li>
    <li>For 12th Commerce / Humanities Students : <a
            href="https://t.me/s12thCommerceHumanitiesStudents">https://t.me/s12thCommerceHumanitiesStudents</a></li>
    <li>For 11th Science Students : <a
            href="https://t.me/npuspta11thScienceStudents">https://t.me/npuspta11thScienceStudents</a></li>
    <li>For 11th Commerce / Humanities Students : <a
            href="https://t.me/s11thCommerceHumanitiesStudents">https://t.me/s11thCommerceHumanitiesStudents</a></li>
</ul>
<br>
<p>
    Also please subscribe to our YouTube Channel : <a
        href="https://www.youtube.com/channel/UCHEUoebUJIT6LHw6rPZHu7A">https://www.youtube.com/channel/UCHEUoebUJIT6LHw6rPZHu7A</a>
    Please follow us on Social Media :
</p>
<ul>
    <li>Facebook: <a href="https://www.facebook.com/npuspta.india">https://www.facebook.com/npuspta.india</a></li>
    <li>Instagram: <a href="https://www.instagram.com/npusptaindia/">https://www.instagram.com/npusptaindia/</a></li>
    <li>Twitter: <a href="https://twitter.com/npuspta">https://twitter.com/npuspta</a></li>
</ul>

{% endblock content %}