

{% extends 'base_mail.html' %}
{% block content %}

            <p><b>Congratulations…</b></p>
            <p>We have received your membership application…</p>
            <p>We are privileged to have you as part of our organisation…</p>
            <p>We work together towards a bright future…</p>
            <p>
                Kindly save our contact number <b>+91 9137386752</b> in your phone to receive all important updates in your WhatsApp
                regularly…
            </p>
      
{% endblock content %}
