{% extends 'base.html' %}
{% load static %}
{% block title %}
Unaided Private Schools (Security of Services to Employees) Bill, 2021
{% endblock title %}
{% block content %}
<article>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Unaided Private Schools (Security of Services to Employees) Bill, 2021</strong> to be
                    drafted by AIPA – All India Parents Association, aims at addressing issues of teachers and other
                    staff working in unaided private schools countrywide particularly in the matter of security of
                    service and payment of pay commission salaries.<br>
                    It has been noted that unaided private schools on one hand exploit parents by subjecting them to
                    exorbitant & arbitrary fee hike every year & on the other hand, exploit their employees by
                    denying them their due salary & other benefits. Not only this, the unaided private schools also
                    exploit Government by receiving various benefits & exemptions from the Government but not
                    extending them to people.<br>
                    Comptroller & Auditor General of India (CAG) 2010 report on inspection of 25 unaided private
                    schools of Delhi explains the dirty and horrible manner in which teachers are exploited by
                    unaided private schools. Amongst other things the report explains that firstly, schools don’t
                    pay due salaries to the employees and secondly, major portion of salaries is taken back by the
                    school. Moreover, school keeps with it employee's bank passbook and blank cheque book signed by
                    the employee and that is used by them in withdrawing money from employee's bank account.
                    Therefore, a deterrent nature of provision of law is required to be incorporated to prevent such
                    inhuman and pernicious practice by unaided private schools.</p>
            </div>
            <div class="col-md-6">
                <figure>
                    <img src="{% static 'sec.jpg' %}" loading="lazy" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-12">
                <p>It is also important to note that way back in 2002, an eleven-judge-bench of Hon'ble Supreme
                    Court in T.M.A.PAI Foundation & others v/s State of Karnataka & others (2002)8 SCC 481 held that
                    there was a need of constituting Tribunal to address grievances of employees of unaided private
                    schools. However, the same has not happened.<br>
                    It is noted that unlike Delhi School Education Act, 1973, which lay down provisions to some
                    extent for security of service to employees and for payment of salaries and other benefits to
                    the employees of unaided private schools not less than what is paid to their counter parts in
                    Government schools, almost all other Indian States do not have such legal provisions. It is
                    submitted that in absence of statutory provisions providing security of services to employees
                    working in unaided private schools, such employees are vulnerable.</p>
            </div>

            <div class="col-md-12">
                <p>
                    <center><strong>Stay Tuned here for Draft Bill to be Updated very Soon…</strong></center>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}