{% extends 'base.html' %}
{% load static %}
{% block title %}
UNAIDED PRIVATE SCHOOLS (REGULATION OF COLLECTION OF FEES) DRAFT BILL 2021
{% endblock title %}
{% block content %}


<style>
ol{
list-style-position:inside;
padding-left:0;}

</style>
<div class="container mt-5">
    <article>
        <div class="text-center mb-3">
            <h5><strong>Let's Join Together and Stop the Commercialization of Basic Education <br> Help Us in our
                    fight to Regulate the Private School Fees across India</strong></h5>
            <a href="{% url 'main:membership' %}" class="btn btn-primary">Become a Member </a>
        </div>

        <div class="about1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <h4><strong>UNAIDED PRIVATE SCHOOLS (REGULATION OF COLLECTION OF FEES) DRAFT BILL
                                2021</strong></h4>
                        </center>
                        <figure>
                            <img src="{% static 'poster.jpg' %}" loading="lazy" class="img-fluid">
                        </figure>
                        <p>An Act to provide for the regulation of collection of fees by unaided private schools and
                            Matters connected therewith and incidental thereto</p>
                        <p>Be it enacted by the Parliament in the Seventy-one Year of the Republic of India as follows:-
                        </p>

                        <ul>
                            <li>This Act may be called <strong>the Unaided Private Schools (Regulation of
                                    'collection of Fee) Act, 2021.</strong></li>
                            <li>It extends to the whole of the India.</li>
                            <li>It shall come into force on such date as the Central Government may, by
                                notification, appoint.</li>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <ol class="o1">
                            <li><br>
                                <ol class="ob11">
                                    <li><strong>In this Act, unless the context otherwise requires,</strong>
                                        <ul class="ob1">
                                            <li>"Academic year" means the year commencing on the first day of April to
                                                the last day of March; </li>
                                            <li>"Aided school" means a school receiving any sum of money as aid out of
                                                the State funds;</li>
                                            <li>"Appropriate Government" means in relation to an unaided private school
                                                established within the territory of
                                                <ul class="ob1">
                                                    <li>A State, State Government;</li>
                                                    <li>A Union territory having legislature, the Government of that
                                                        Union territory;</li>
                                                </ul>
                                            </li>
                                            <li>"Committee" means the committee constituted under Section 4;</li>
                                            <li>"District Committee" means the committee constituted under Section 10;
                                            </li>
                                            <li>"Fee" means any amount, by whatever name called, collected directly or
                                                indirectly by a school from a pupil for any standard or course of study;
                                            </li>
                                            <li>"Government School" means a school run by the Government or any local
                                                authority;</li>
                                            <li>"Management" includes the managing committee or any person, body of
                                                persons, committee or any other governing body by whatever name called
                                                in whom the power to manage or administer the affairs of an unaided
                                                private school is vested;</li>
                                            <li>"Prescribed" means prescribed by rules made under this Act;</li>
                                            <li>"Unaided private school" means any play school, pre-primary school,
                                                primary school, middle school, secondary school or Senior Secondary
                                                School, established and administered or maintained by any person or body
                                                of persons and recognized or approved by the competent authority under
                                                any law or code of regulation for the time being in force, but does not
                                                include,
                                                <ul class="ob1">
                                                    <li>An aided school;</li>
                                                    <li>A school established and administered or maintained by the
                                                        Central Government or the State Government or any local
                                                        authority;</li>
                                                    <li>A school giving, providing or imparting religious instruction
                                                        alone but not any other instructions;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ol>



                    </div>

                    <div class="col-md-6">

                        <strong>Explanation-For the purpose of this clause,</strong>
                        <ol class="o1">
                            <li>1<br>
                                <ul class="ob1">
                                    <li>Play school includes any school catering to pupils below three years of age;
                                    </li>
                                    <li>Pre-primary school shall consist of Pre-school to Pre-primary;</li>
                                    <li>Primary school shall consist of Pre-school to Standard V or Standards I toV;
                                    </li>
                                    <li>Middle school shall consist of Pre-school to Standard VIII, Standards I to VIII
                                        or Standards VI to VIII;</li>
                                    <li>Secondary school shall consist of Pre-school to Standard X, Standards VI to X or
                                        Standards IX and X;</li>
                                </ul>
                            </li>
                            <li>2<br>
                                <ol class="ob11">
                                    <li> An aided school conducting any classes or courses, for which no money is paid
                                        as aid out of the State funds, shall be construed as an unaided private school
                                        in so far as such classes or courses are concerned.</li>
                                </ol>
                            </li>
                            <li>3<br>
                                <ol class="ob11">
                                    <li> No fee in excess of the fee determined by the committee under this Act shall be
                                        collected from pupils for any Standard orcourse of study in an unaided private
                                        school, -
                                        <ul class="ob1">
                                            <li>By any person who is in charge of, or is responsible for, the management
                                                of such unaided private school</li>
                                            <li>By any other person either for himself or on behalf of such unaided
                                                private school or on behalf of the management of such unaided private
                                                school.</li>
                                        </ul>
                                    </li>
                                    <li>The fee collected by an unaided private school shall commensurate with the
                                        facilities provided by the school.</li>
                                </ol>
                            </li>
                            <li>4<br>
                                <ol class="ob11">
                                    <li>The Appropriate Government shall constitute a committee for the purpose
                                        ofdetermination of the fee for any Standard or course of study in unaided
                                        private schools.</li>
                                    <li>The committee shall consist of the following members, namely:-
                                        <ul class="ob1">
                                            <li>A retired High Court Judge, nominatedby the Appropriate Government-
                                                Chairperson</li>
                                            <li>Director of Education or its nominee- Member</li>
                                            <li>Chartered Accountant- Member</li>
                                        </ul>
                                    </li>
                                    <li>The term of office of the Chairperson shall be for a period of three years from
                                        the date of his nomination and in the case of vacancy arising earlier, for any
                                        reason, such vacancy shall be filled for the remainder of the term.</li>
                                    <li>The Chairperson shall be eligible to draw such rate of sitting fee and
                                        travelling allowance as may be prescribed.</li>
                                    <li>No act or proceeding of the committee shall be invalid by reason only of the
                                        existence of any vacancy in, or any defect in, the constitution of the
                                        committee.</li>
                                    <li>The Chairperson shall preside over the meeting of the committee.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>


                    <div class="col-md-6">
                        <ol class="o1">
                            <li>5<br>
                                <ol class="ob11">
                                    <li>The committee shall determine the fee leviable by an unaided private school
                                        taking into account the following factors, namely:-
                                        <ul class="ob1">
                                            <li>the location of the unaided private school;</li>
                                            <li>available surplus</li>
                                            <li>the available infrastructure;</li>
                                            <li>the reasonable surplus required for the growth and development of an
                                                unaided private school;</li>
                                            <li>the expenditure on administration and maintenance-,</li>
                                            <li>Any other factors as may be prescribed.</li>
                                        </ul>
                                    </li>
                                    <li>The committee shall, on determining the fee leviable by an unaided private
                                        school, communicate its decision to the school concerned.</li>
                                    <li>Any unaided private school aggrieved over the decision of the committee shall
                                        file its objection before the committee within fifteen days from the date of
                                        receipt of the decision of the committee.</li>
                                    <li>The committee shall consider the objection of the unaided private school and
                                        pass orders within thirty days from the date of receipt of such objection.</li>
                                    <li>The orders passed by the committee shall be final and binding on the unaided
                                        private school for three academic years. At the end of the said period, the
                                        unaided private school would be at liberty to apply for revision;
                                        Provided that in case of urgent need to increase the fee arising due to some
                                        unavoidable causes during the three academic years, the school would be at
                                        liberty to apply for revision before the expiry of the three years period.</li>
                                    <li>The committee shall indicate the different heads under which the fee shall be
                                        levied.</li>

                                </ol>
                            </li>
                        </ol>
                        <figure>
                            <img src="{% static 'school-books-on-desk.jpg' %}" loading="lazy" class="img-fluid">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <ol class="o1">
                            <li>6<br>
                                <ol class="ob11">
                                    <li>The powers and functions of the committee shall be, -
                                        <ul class="ob1">
                                            <li>To determine the fee to be collected by unaided private schools;</li>
                                            <li>To hear complaints with regard to collection of fee in excess of the fee
                                                determined by it.</li>
                                            <li>If the committee, after obtaining the evidence and explanation from
                                                theManagement of the unaided private school, comes to the conclusion
                                                that the unaided private school has collected fee in excess of the fee
                                                determined by the committee, it shall direct the concerned unaided
                                                private school to refund the excess amount charged with 9% p.a. interest
                                                thereupon within one month. The Committee shall also recommend to the
                                                appropriate competent authority for the cancellation of the recognition
                                                or approval, as the case may be, of the unaided private school and to
                                                the concerned Board of Examination for disaffiliation of the unaided
                                                private school or for any other course of action as it deems fit in
                                                respect of the unaided private school.</li>
                                        </ul>
                                    </li>
                                    <li>The committee shall have power to,-
                                        <ul class="ob1">
                                            <li>Require each unaided private school to place before the committee the
                                                proposed fee structure of such school with all relevant documents and
                                                books of accounts for scrutiny within such date as may be specified by
                                                the Committee;</li>
                                            <li>Verify whether the fee proposed by the unaided private school is
                                                justified and it does not amount to profiteering or charging exorbitant
                                                fee;</li>
                                            <li>Approve the fee structure or determine some other fee which can be
                                                charged by the unaided private school. </li>
                                        </ul>
                                    </li>
                                    <li>The committee shall have the power to regulate its own procedure in all matters
                                        arising out of the discharge of its functions, and shall, for the purpose of
                                        making any inquiry under this Act, have all the powers of a civil court under
                                        the Code of Civil Procedure, 1908 while trying a suit, in respect of the
                                        following matters, namely: -
                                        <ul class="ob1">
                                            <li>Summoning and enforcing the attendance of any witness and examining him
                                                on oath;</li>
                                            <li>The discovery and production of any document; </li>
                                            <li>The receipt of evidence on affidavits;</li>
                                            <li>The issuing of any commission for the examination of witness.</li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>

                    <div class="col-md-6">
                        <ol class="o1">
                            <li>7<br>
                                <ol class="ob11">
                                    <li>The Appropriate Government may regulate the maintenance of accounts by the
                                        unaidedprivate schools in such manner as may be prescribed.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>8<br>
                                <ol class="ob11">
                                    <li>Notwithstanding the provisions of this Act, the Appropriate Government shall
                                        have thepowers to regulate or fix the fee structure of an unaided private school
                                        during pandemic or in anunforeseen situations or circumstances.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>9<br>
                                <ol class="ob11">
                                    <li>The accounts and other records maintained by an unaided private school shall
                                        besubject to examination by auditors and inspecting officers authorized by the
                                        appropriate government and also by officers authorized by the comptroller and
                                        Auditor General of India.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>10<br>
                                <ul class="ob1">
                                    <li>Whoever contravenes the provisions of this Act or the rules made thereunder
                                        shall, on conviction, be punishable with imprisonment for a term which shall not
                                        be less than three years but which may extend to seven years and with fine which
                                        may extend to one lac rupees:<br>
                                        Provided that the court may, for any adequate and special reason to be mentioned
                                        in the judgment, impose a sentence of imprisonment for a term of less than three
                                        years.
                                    </li>
                                    <li>The person convicted under this section shall refund to the pupil from whom the
                                        excess fee was collected in contravention of this Act, such excess fee.</li>

                                </ul>

                            </li>
                        </ol>
                        <figure>
                            <img src="{% static 'wpd.jpg' %}" loading="lazy" class="img-fluid">
                        </figure>
                    </div>

                    <div class="col-md-6">
                        <ol class="o1">
                            <li>11<br>
                                <ol class="ob11">
                                    <li>Where an offence against any of the provisions of this Act have been committed
                                        by a company, every person who, at the time the offence was committed, was in
                                        charge of, and was responsible to, the company for the conduct of the business
                                        of the company, as well as the company, shall be deemed to be guilty of the
                                        offence and shall be liable to be proceeded against and punished
                                        accordingly:<br>
                                        Provided that nothing contained in this sub-section shall render any such person
                                        liable to any punishment, if he proves that the offence was committed without
                                        his knowledge or that he has exercised all due diligence to prevent the
                                        commission ofSuch offence.
                                        Not with standing anything contained in sub-section (1), where any such offence
                                        has been committed by a company and it is proved that the offence has been
                                        committed with the consent or connivance of, or is attributable to any neglect
                                        on the part of any director, manager, secretary or other officer of the company,
                                        such director, Manager, secretary or other officer shall be deemed to be guilty
                                        of that offence and shall be liable to be proceeded against and punished
                                        accordingly.</li>
                                    <li>Explanation. -For the purposes of this section, -
                                        <ul class="ob1">
                                            <li>Company means anybody corporate and includes a trust, a firm, a society
                                                or other association of individuals,</li>
                                            <li>Director in relation to-
                                                <ul class="ob1">
                                                    <li>A firm, means a partner in the firm:</li>
                                                    <li>A society, a trust or other association of individuals, means
                                                        the person who is entrusted under the rules of the society,
                                                        trust or other association with the management of the affairs of
                                                        the society, trust or other association, as the case may be.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>12<br>
                                <ol class="ob11">
                                    <li>There shall be a District Committee in every district, which shall consist of
                                        the DeputyDirector of Education as Chairperson and such other members as may be
                                        prescribed.</li>
                                    <li>The District Committee or any member of the said committee authorized by it in
                                        this behalf may, at any time, during the normal working hours of any unaided
                                        private school, enter such unaided private school or any premises thereof or any
                                        premises belonging to the management of such unaided private school if it or he
                                        has reason to believe that there is or has been any contravention of the
                                        provisions of this Act or the rules made thereunder and search and inspect any
                                        record, accounts, register or other document belonging to such unaided private
                                        school or of the management, in so far as any such record, accounts, register or
                                        other document relates to such unaided private school and seize any such record,
                                        accounts, register or other document for the purpose of ascertaining whether
                                        there is or has been any such contravention.</li>
                                    <li>The provisions of the Code of Criminal Procedure, 1973 relating to search and
                                        seizure shall apply, so far as may be, to search and seizure under sub-section
                                        (2).</li>
                                </ol>
                            </li>
                    </div>

                    <div class="col-md-6">
                        <ol class="o1">
                            <li>13<br>
                                <ul class="ob1">
                                    <li>There shall not be less than fifty percent representatives of parents in
                                        management of an unaided private school;</li>
                                    <li>The manner of selection of parent representatives shall be determined as may be
                                        prescribed.</li>
                                </ul>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>14<br>
                                <ol class="ob11">
                                    <li>No unaided private school shall take voluntary or involuntary donation linked
                                        withadmission of a pupil.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>15<br>
                                <ol class="ob11">
                                    <li>No court shall take cognizance of any offence under this Act except with the
                                        sanction of the Government or such officer as the Appropriate Government may
                                        authorize inThis behalf.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>16<br>
                                <ol class="ob11">
                                    <li>Save as otherwise provided in this Act, the provisions of this Act shall be in
                                        addition to, and not in derogation of, any other law for the time being in
                                        force.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>17<br>
                                <ol class="ob11">
                                    <li>No suit, prosecution or other legal proceeding shall be instituted against the
                                        committee or its members,Government or any officer, authority or person
                                        empowered to exercise the powers or perform the functions by or under this Act
                                        forAnything which is in good faith done or intended to be done under this Act or
                                        the rules made thereunder.</li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>18<br>
                                <ol class="ob11">
                                    <li>If any difficulty arises as to the first constitution of the committee after the
                                        date ofcommencement of this Act or otherwise in giving effect to the provisions
                                        of this Act, the Appropriate Government may, by notification, make such
                                        provision, not inconsistent with the provisions of this Act, as may appear to
                                        them to be necessary or expedient for removing the difficulty
                                        Provided that no such notification shall be issued after the expiry of five
                                        years from the date of commencement of this Act.
                                    </li>
                                </ol>
                            </li>
                        </ol>

                        <ol class="o1">
                            <li>19<br>
                                <ol class="ob11">
                                    <li>The Appropriate Government may make rules for carrying out all or any of the
                                        purposes of this Act.</li>
                                    <li>Every rule made or notification issued under this Act shall, as soon as possible
                                        after it is made or issued, be placed on the Table of the Legislative Assembly
                                        and if, before the expiry of the session in which it is so placed or the next
                                        session, the Assembly makes any modification in any such rule or notification,
                                        or the Assembly decides that the rule or notification should not be made or
                                        issued, the rule or notification shall, thereafter, have effect only in such
                                        modified form or be of no effect, as the case may be, so, however, that any such
                                        modification or annulment shall be without prejudice to the validity of anything
                                        previously done under that rule or notification.</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12">
                        <p>
                            <center><strong>Drafted and updated by Advocate Ashok Agarwal, National President, All India
                                    Parents Association (AIPA) M-09811101923<br> Email: juristashok@gmail.com </strong>
                            </center>
                        </p>
                    </div>



                </div>
            </div>
        </div>


    </article>
</div>


{% endblock content %}