{% extends 'base.html' %}
{% load static %}
{% block title %}
Essay Competition

{% endblock title %}

{% block content %}
<div class="container">
    <div class="card shadow my-3">
        <div class="card-body">
            <h2 class="card-title">Essay Competition</h2>
            <p class="card-text">
                <li>Exclusively For all 12th Students</li>
                <li>Essay Completion on <b>“My Future Study & Career Plan” </b> </li>
                <li>
                    Write essay on your future study and career choice and plans after 12th, Get a chance to win
                    Guaranteed
                    attractive prizes…
                </li>
                <li>Consolation Prizes: Rs.3000/- Each for 6 best essays.</li>
            </p>
        </div>
    </div>

    <div class="card-group">
        <div class="card m-1">
            <img src="{% static 'essay.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="card shadow m-1">
            <div class="card-header">
                <h3>Terms & Conditions:</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All Students who are studying 12th in present academic year are eligible to
                    participate.</li>
                <li class="list-group-item">No Registration Fees.</li>
                <li class="list-group-item">Essay should be written either in Kannada or English languages only. </li>
                <li class="list-group-item">Must mention Your Full Name, Class, Stream, Subject Combination, Contact
                    Number,
                    Email Id and School / College name in every page of the essay.</li>
                <li class="list-group-item">Please write neatly if handwritten or type and print.</li>
                <li class="list-group-item">Specifically mention your future career choice, choice of education course
                    after
                    12th in essay and write about it in minimum 1200 words.</li>
                <li class="list-group-item">For example if your choice of education after 12th is B.Com, then write in
                    detail about it - Why B.Com, what after B.Com, Entrance exams to write after B.Com, Choices
                    of Post Graduation courses after completing B.Com, Govt job Exams to write, various job position to
                    apply etc</li>
                <li class="list-group-item">Essay must contain a <b>"Career Map"</b> a detailed flowchart
                    explaining how you plan to progress in chosen future career field or education.</li>
                <li class="list-group-item">Please write of type and print essay on A4 sheet. Get your Principal Sign
                    and
                    signature on every page, scan and email to <a
                        href="mailto:npusptaindia@gmail.com">npusptaindia@gmail.com</a>. Or submit to your class
                    teacher.
                </li>
                <li class="list-group-item">Essay written should not be already published in any media. Copied essays
                    are
                    automatically rejected.</li>
                <li class="list-group-item">Last date to submit essay is March 31 of every year.</li>
                <li class="list-group-item">Decision taken by NPUSPTA and Career University are final.</li>
                <li class="list-group-item">Results are shared with all on WhatsApp when declared.</li>
            </ul>
            <div class="card-body">
                <p class="card-text">For more details contact +919137386752</p>
            </div>
        </div>
    </div>
    <div class="card shadow my-3">
        <div class="card-body">
            <h3 class="card-title">Purpose of Conducting Essay Competition:</h3>
            <hr>
            <p class="card-text">
                12th is a crucial juncture in all student’s life. Decision you make on what to do after 12th will make
                or break your future career. Wrong decisions taken during this time will make you suffer for years if
                not for lifetime.
            </p>
            
            <p class="card-text"> We at NPUSPTA are trying our maximum to guide students on their after-12th endeavours.
                By organising this Essay Competition, we also want to encourage students and parents to actively think
                and involve in planning about their after-12th career and education.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">By Conducting the essay competition, we want to encourage the students to
                explore the various career opportunities available to them and research on which is best suited to them.
            </li>
            <li class="list-group-item">Explore the various Education options after 12th.
            </li>
            <li class="list-group-item">Find out about various competitive entrance exams to write after 12th.
            </li>
            <li class="list-group-item">Find out the eligibility requirements of their future education and prepare well
                in advance to meet those eligibility requirements.
            </li>
            <li class="list-group-item">Explore the various benefits of the reservation category they belong to and find
                out the documents required to claim their reservation quota.
            </li>
            <li class="list-group-item">Explore choices of colleges for selected courses, compare fees, placement
                opportunities etc…
            </li>
            <li class="list-group-item">By finding out the cost of future education, parents can prepare financially in
                advance to afford the cost of their children’s future education.
            </li>
            <li class="list-group-item">Prepare for documents to obtain education loan.
            </li>
            <li class="list-group-item">Find out various scholarship schemes offered by Government and NGO’s for your
                future education.
            </li>
            <li class="list-group-item">Plan and prepare in advance for arranging the accommodation if student have to
                travel to far away location to pursue their future education after 12th.
            </li>

        </ul>
    </div>
</div>

{% endblock content %}