{% load static %}
<footer class="text-center text-start bg-light top-100 text-black border-top mt-5 u-none">
    <section class="">
        <div class="container text-center text-md-start mt-1">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-5">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>NPUSPTA
                    </h6>
                    <p>
                        Together Towards A Bright Future
                    </p>
                    <section class="p-4 border-bottom">
                        <div>
                            <a href="https://www.facebook.com/npuspta.india" class="me-4 text-reset">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/npuspta" class="me-4 text-reset">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/npusptaindia/" class="me-4 text-reset">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/npuspta-india" class="me-4 text-reset">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="https://wa.me/919137386752" class="me-4 text-reset">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 border-bottom">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="{% url 'main:scholorship' %}" class="text-reset">Apply for scholorship</a>
                    </p>
                    <p>
                        <a href="https://kcetcutoffanalyser.herokuapp.com/" class="text-reset" target="_blank">KCET cut
                            off rank analyser</a>
                    </p>
                    <p>
                        <a href="https://instagram.com/bharat._naik/" class="text-reset">Report a bug</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>
                        <i class="fa-solid fa-envelope me-3"></i>
                        npusptaindia@gmail.com
                    </p>
                    <p><i class="fa-solid fa-phone me-3"></i> +91 9137386752</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center text-light p-2" style="background-color: rgb(32,31,115);">
        © 2022 Copyright:
        <a class="text-light fw-bold" href="http://npuspta.org/">NPUSPTA.ORG</a>
    </div>

    <style>
        .u-none a {
            text-decoration: none;
        }
    </style>
</footer>