{% extends 'base.html' %}
{% load static %}
{% block title %}
About us
{% endblock title %}
{% block content %}

<div class="container">

    <h1 class="display-2">About us</h1>
    <hr>
    <h3 class="display-6">National Pre-University Students, Parents and Teachers Association</h3>

    <div class="row">
        <div class="col-md-6">
            <p>New Education Policy of India 2020 has stressed the need for community involvement
                in educational management as educational reforms can only be effective if
                school/College management, teachers, students, parents and related organizations
                collaborate together.</p>
            <p>After extensive research we found out that there is no effective organization
                representing students belonging to pre university level or higher secondary level i.e.,
                11 th and 12 th standards. As this is a crucial level of education in any student’s life, we
                propose to establish National Pre-University Students, Parents and Teachers Association,
                to effectively and efficiently collaborate between all parties involved in the pre-university
                level education so that students get best possible education and brighten their future
                career.</p>
            <p>National Pre-University Students Parents & Teachers Association is a voluntary, no- political,
                non-sectarian
                organization of students, parents, teachers and others interested in education, formed with the
                intention of
                safeguarding the students, parents and teachers and empower them by serving the following aims and
                objectives:
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'about1.jpg' %}" loading="lazy" class="img-fluid" alt="">
        </div>
    </div>
    <hr>
    <h4 class="display-6">Aims and Objectives:</h4>
    <ol>
        <li><strong>To act as a representative of students, parents and teachers
                whereby protect their fundamental and legal rights:</strong>
            <ul>
                <li>To Make Education Affordable to Every Students and Parents,We at NPUSPTA along AIPA
                    – All India Parents Association has drafted <strong>“Unaided Private School
                        (Regulation of Collection of Fees) Bill 2021”</strong> and demanding government
                    to table the bill in the Parliament, discuss it and Enact it as Nationwide Single
                    policy to regulate Private School Fees across India and safeguard the students and
                    parents from exploitation of Private Schools by charging exorbitant school fees for
                    education.</li>
                <li>To address the many issues faced by teaching and non-teaching staffs working at
                    unaided private schools across India we and AIPA has drafted <strong>“Private
                        Unaided Schools (Security of Service to Employees) Bill 2021”</strong> to
                    safeguard them from any kind of harassment and exploitation.</li>
                <li>To provide any legal assistance to students, parents and teachers relating to any
                    issues regarding the education.</li>
                <li>To provide platform for students, parents and teachers, whereby, their voice
                    regarding any issues in education is heard by the Government authorities.</li>
                <li>To prevent any harassment or abuse of students, parents or teachers by the college
                    management or by Government authorities.</li>
                <li>To advocate for any adequate laws for the care and protection of students and
                    teachers.</li>
            </ul>
        </li>
        <hr>
        <li><strong>To Promote and Help Students and Parents to continue pursing
                Higher Education after the completion of Pre-University
                Education:</strong>

            <ul>
                <li>To make sure that all pre-university students attain higher
                    education.</li>
                <li>To provide higher education to students irrespective of their caste,
                    religion, race etc.</li>
                <li>To provide financial assistance to students and parents coming
                    from low-income families in rural areas to continue their higher
                    education.</li>
                <li>To provide assistance to students and parents in obtaining various
                    scholarships available to them.</li>
                <li>To assist students, parents and teachers to utilize the various
                    welfare schemes of the state and central governments.</li>
                <li>To finance, sponsor and promote exceptional students with special
                    talents.</li>
                <li>To conduct special coaching classes and training programs for
                    students to enable them to write various competitive exams like
                    JEE, CET, NEET etc…efficiently.</li>
                <li>To help the rural student to enter into professional higher education
                    colleges by giving them necessary training and assisting them
                    financially if required.</li>
                <li>To advocate and demand for regulated fees and fees concession
                    for students belonging to poor family with low income and students
                    with merits.</li>
                <li>To conduct career determination aptitude test for students in
                    collaboration with the Government, other NGO’s and the college
                    management.</li>
                <li>To conduct career counselling and guidance sessions and career
                    awareness programs for students in collaboration with the
                    Government, other NGO’s and the college management.</li>
                <li>To organize free higher education institutions tour or orientation so
                    that student can explore the college before enrolling to it.</li>
                <li>To verify authenticity of higher education colleges by checking their
                    affiliations, accreditations and approvals from Universities and
                    Government authorities and prevent students from enrolling to fake
                    colleges for higher education.</li>
                <li>To assist students and parents in getting free government hostel
                    facilities or other cheaper alternative accommodation facilities so
                    that rural students who cannot afford costly college hostel
                    accommodation don’t drop out of the college.</li>
                <li>To facilitate any deduction / discount in college fees from higher
                    education institutions for deserving students.</li>
                <li>To distribute books, stationary and other required items to needy
                    students either at discounted prices or free of cost.</li>
                <li>To facilitate transport facility to rural students to travel to
                    educational institutions located at urban centres either at
                    discounted prices or free of cost.</li>
            </ul>
        </li>

        <hr>
        <li><strong>To work with the principals, staff and the management of the
                education institution to build effective partnership of home and
                college:</strong>
            <ul>
                <li>To promote and facilitate co-operation between students, parents,
                    teachers and college management so that students get best
                    possible education and learning environment.</li>
                <li>To advise the principals and Management on policy issues and
                    incidents that may require a review of college policy, e.g. Ragging,
                    Bullying, Safety, Homework or assignment, Enrolment, Behaviour
                    problems etc.</li>
                <li>To initiate, suggest, support and/or organise innovative curricular,
                    co-curricular and extra-curricular activities in collaboration with the
                    management of the college.</li>
                <li>To promote activities that enhance the joy and well-being of the
                    students and teaching staff in a way that complements and
                    enriches the teaching and learning environment.</li>
                <li>To advocate for and help in improving the facilities in the
                    educational Institution.</li>
                <li>To Communicate and cooperate to support the plans of the
                    Institution in order to increase the quality of education and success
                    of the students.</li>
                <li>To organise parents’ teachers’ meetings frequently to monitor the
                    progress of student’s education.</li>
                <li>To promote understanding and co-operation between parents and
                    teachers for the welfare of students.</li>
                <li>To promote and finance sanitation, health and safety of students
                    and related activities in College premises.</li>
                <li>To organize quarterly meetings between students, parents,
                    teachers and college management to discuss all the issues relating
                    to education at a particular college and to gather valuable inputs
                    from all party involved to improve the education system.</li>
                <li>To make college environment and atmosphere into attractive and
                    friendly one so that students do not drop out of the college.</li>
                <li>To encourage college management and help them in bringing in
                    and integrating latest technology to teaching.</li>
                <li>To organise special exhibitions and sports / games activities,
                    various competitions to students for promoting and displaying their
                    skills and talents or for bring out the hidden talents of the students.</li>
                <li>To conduct special training programs for teachers to enhance their
                    teaching skills and knowledge.</li>
                <li>To appreciate students and teachers by awarding them with
                    rewarding prizes for their contribution.</li>
                <li>To provide for group insurance cover to the students and teachers
                    to bear the medical expenditure arising from any accidents at
                    college premises or during commute to and from college.</li>
                <li>To organize various health check-up schemes for students, parents
                    and teachers in collaboration with other NGO’s and management of
                    the college.</li>
            </ul>
        </li>
        <hr>
        <li><strong>To act as a link and coordinate between Government
                Authorities, General Public and Management of Educational
                Institutions:</strong>
            <ul>
                <li>To Develop between educators and the general public such united
                    efforts as will secure for all students the highest advantage in
                    physical, mental, social and spiritual education.</li>
                <li>To act as a link between Government authorities and the society
                    whereby informing the policymakers the opinions, inputs and
                    requirements of the students, parents and teachers.</li>
                <li>To act as a link between college and society whereby informing the
                    teachers the opinions, objectives and advises of parents.</li>
                <li>To promote patriotic feelings in the minds of the students.</li>
                <li>To educate and encourage the parents to take adequate and
                    necessary steps with regard to education, career, character,
                    culture, health etc of their children.</li>
            </ul>
        </li>
    </ol>


    <hr>

    <h4 class="display-6">General Objectives:</h4>
    <ul>
        <li>To issue memberships by enrolling maximum number of Pre-
            University students, their parents and teachers as members by
            organising membership campaign whereby to increase the size of
            organization and to extend the benefits to the maximum.</li>
        <li>To Collect and accept donations, grants, presents, gifts and
            offerings for promoting activities of the organization.</li>
        <li>To collect nominal membership fee from the enrolled members to
            financially support and promote the activities of the organization.</li>
        <li>To cooperate, collaborate and work with organizations and
            institutions with similar objectives.</li>
        <li>To donate to or fund similar organizations or institutions having
            similar objects.</li>
        <li>To Promote secular education by establishing, running and
            managing all kinds of educational institutions – Kindergarten, pre-
            schools, day care centres, primary to high schools, pre-university
            colleges, Coaching classes for competitive exams, higher
            education institutions and vocational skill training institutions.</li>
        <li>To establish, maintain and run boarding house, residential house or hostel
            accommodation for students.</li>
        <li>To charge moderate fee, and otherwise recoup themselves for the outlay and expenses
            incurred in the upkeep and maintenance of institutions established or about to be
            established.</li>
    </ul>
</div>

<style>
ol{
list-style-position:inside;
padding-left:0;}

</style>
{% endblock content %}