{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="National level association of Students, Parents and Teachers at Pre-University or Senior Secondary Level of Education in India">
  <meta property="og:title" content="NPUSPTA | National Pre-University Students, Parents and Teachers Association">
  <meta property="og:description"
    content="National level association of Students, Parents and Teachers at Pre-University or Senior Secondary Level of Education in India">
  <meta property="og:image" content="{% static 'logo.png' %}">
  <meta property="og:url" content="https://www.npuspta.org">

  <meta name="twitter:title" content="NPUSPTA | National Pre-University Students, Parents and Teachers Association">
  <meta name="twitter:description" content="National level association of Students, Parents and Teachers at Pre-University or Senior Secondary Level of Education in India">
  <meta name="twitter:url" content="https://twitter.com/npuspta/photo">
  <meta name="twitter:card" content="National level association of Students, Parents and Teachers at Pre-University or Senior Secondary Level of Education in India">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">

  <style>
    .required ::after {
      content: " * ";
      color: red;
    }
  
    * {
      font-family: 'Poppins', sans-serif;
    }
  </style>
  <title>NPUSPTA | {% block title %}{% endblock title %}</title>

</head>

<body>
  {% include 'base/navbar.html' %}
  {% block content %}
  {% endblock content %}

  {% include 'base/footer.html' %}



  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
  <script src="https://kit.fontawesome.com/ffb264d749.js" crossorigin="anonymous"></script>
</body>

</html>