{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
Contact us
{% endblock title %}
{% block content %}

<style>
    .card {
        border-radius: 20px;
    }
</style>


<div class="container">
    <div class="row">
        <h2 class="display-4">Contact us</h2>
        <hr>
        <div class="col-md-4">

            <div class="card shadow mb-3">
                <div class="card-body">
                    <p><i class="fa-solid fa-phone me-2"></i>+91 9137386752</p>
                    <p><i class="fa-solid fa-envelope me-2"></i>npusptaindia@gmail.com</p>
                </div>
            </div>

        </div>

        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    {% bootstrap_messages %}
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
                        {% endbuttons %}

                    </form>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock content %}